div {
	font-family: "Arial Unicode", Arial, "Helvetica Neue", Helvetica, sans-serif;
}

div.label .institution_name, div.label .repository_name {
	color: #333;
	font-style: normal;
	font-size: 80%;
	font-weight: 800;
}

div.label .resource_title {
	margin-top: 1em;
	text-transform: uppercase;
}

div.label .series_id {
	font-weight: 800;
	text-transform: uppercase;
}

div.label .series_display {
	font-weight: normal !important;
}

div.label .resource_id {
	background-color: #fff;
	border: none;
	color: #000;
	margin-top: 20px;
	font-weight: 800;
	font-size: 100%;
}

div.label .agent_name {
	font-weight: 800;
}

div.label .type {
	background-color: #fff;
	border-bottom: none;
	color: #000;
	font-size: 100%;
	font-weight: 800;
	padding: 2px 0;
}

div.label .indicator {
	background-color: #fff;
	font-size: 100%;
	color: #000;
	font-weight: 800;
}

/* Avery 5164 is Yale standard: 3-1/3"x4" with 
	10 labels per sheet in portrait mode. 
	Height set to what fit on the template downloaded from Avery, though. */
.avery-5164{
    height: 3.2in;
    width: 3.875in;
}
.avery-5164:nth-of-type(2n){
    float: right;
    padding-left: 0.125in;
}
.avery-5164:nth-of-type(2n+1){
    clear: left;
    float: left;
    padding-right: 0.125in;
}
@media print{
    /*************************************************************
        Set when the page breaks should occur for each label type. 

        Note also that different browsers scale the printing differently
        despite what *should* happen.
     *************************************************************/
    /********** avery 5164 **********/
    .avery-5164:nth-of-type(6){
        page-break-after: always;
    }
    /*************************************************************** 
        safari does some wierd scaling things
        adjust for that and then reset chrome
    ****************************************************************/
    .avery-5164.safari-label{
        width: 3.6in !important;
        height: 3.16in !important;
    }
    .avery-5164.chrome-label{
        width: 3.875in !important;
        height: 3.2in !important;
    }
    /* tell chrome to behave about page breaks */
    .avery-5164.chrome-label:nth-of-type(6){
        page-break-after: auto;
    }
}